<mat-card>
    <mat-card-content>
        <div>
            <label id="Select an profile type">Profile type</label>

            <mat-radio-group 
            [value]="profileType"
            (change)="setProfileType($event)"
            aria-label="Select an profile type">
                <mat-radio-button *ngFor="let profileType of profileTypes" [value]="profileType">{{ profileType }}</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="layout">
            <div class="layout-section" *ngIf="profileType === 'System Profile'">
                <div [formGroup]="systemProfileFormGroup">
                    <mat-form-field>
                        <mat-label>System Profile</mat-label>
                        <mat-select [value]="systemProfile.text" (selectionChange)="updateSystemProfileName($event)" [formControlName]="'systemProfileName'">
                            <mat-option *ngFor="let name of profileTexts" [value]="name">{{ name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="systemProfile.canCUDSystemProfiles">Can Create/Update/Delete Profiles</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="systemProfile.canCUNetworksAndBelow">Can Create/Update Networks and its belongings</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="systemProfile.canDNetworksAndBelow">Can Delete Networks and its belongings</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="systemProfile.canRBelowNetworks">Can Read the belongings of Networks (but not the Network itself)</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="systemProfile.canRLocationsAndPricing">Can Read Locations and their billing info</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="systemProfile.canCULocationPricing">Can Set Locations billing info</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="systemProfile.canRRounds">Can Read Rounds</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="systemProfile.canCRounds">Can Create Rounds</mat-checkbox>
                </section>
                
                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="systemProfile.canURounds">Can Update Rounds</mat-checkbox>
                </section>
            </div>

            <div class="layout-section" *ngIf="profileType === 'Network Profile'">
                <div [formGroup]="networkProfileFormGroup">
                    <mat-form-field>
                        <mat-label>Network Profile</mat-label>
                        <mat-select [value]="networkProfile.text" (selectionChange)="updateNetworkProfileName($event)" [formControlName]="'networkProfileName'">
                            <mat-option *ngFor="let name of profileTexts" [value]="name">{{ name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <p>Network: {{ networkProfile.network }}</p>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="networkProfile.canUpdateNetwork">Can Update Network</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="networkProfile.canDisableNetwork">Can Disable Network</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="networkProfile.canCUDNetworkProfiles">Can Create/Update/Delete Network Profiles</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="networkProfile.canCUDLocationsAndBelow">Can Create/Update/Delete Locations and their belongings</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="networkProfile.canRRounds">Can Read Rounds</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="networkProfile.canCRounds">Can Create Rounds</mat-checkbox>
                </section>
                
                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="networkProfile.canURounds">Can Update Rounds</mat-checkbox>
                </section>
            </div>

            <div class="layout-section" *ngIf="profileType === 'Location Profile'">
                <div [formGroup]="locationProfileFormGroup">
                    <mat-form-field>
                        <mat-label>Location Profile</mat-label>
                        <mat-select [value]="locationProfile.text" (selectionChange)="updateLocationProfileName($event)" [formControlName]="'locationProfileName'">
                            <mat-option *ngFor="let name of profileTexts" [value]="name">{{ name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <p>Network: {{ locationProfile.network }}</p>
                <p>Location: {{ locationProfile.location }}</p>
                <p>Assigned Groups: {{ locationProfile.assignedGroups[0] }}</p>
                
                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="locationProfile.canULocation">Can Update Location</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="locationProfile.canCUDLocationProfiles">Can Create/Update/Delete Location Profiles</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="locationProfile.canCUDSurveysGroupsCategories">Can Create/Update/Delete Surveys/Groups/Categories</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="locationProfile.canCUDSubjects">Can Create/Update/Delete Subjects</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="locationProfile.canCUDSubjectsFromAssignedGroups">Can Create/Update/Delete Subjects from Assigned Groups</mat-checkbox>
                </section>

                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="locationProfile.canCRounds">Can Create Rounds</mat-checkbox>
                </section>
                
                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="locationProfile.canCRoundsFromAssignedGroups">Can Create Rounds from Assigned Groups</mat-checkbox>
                </section>
                
                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="locationProfile.canRURounds">Can Read/Update Rounds</mat-checkbox>
                </section>
                
                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="locationProfile.canRURoundsFromAssignedGroups">Can Read/Update Rounds from Assigned Groups</mat-checkbox>
                </section>
                    
                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="locationProfile.canRURoundsWhenAlerted">Can Read/Update Rounds when Alerted</mat-checkbox>
                </section>
                
                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="locationProfile.canRURoundsWhenRounder">Can Read/Update Rounds when the Rounder</mat-checkbox>
                </section>
            </div>

            <div class="layout-section">
                <div class="col">
                    <div class="row">
                        <div class="cell"></div>
                        
                        <div class="cell center" *ngFor="let action of actions">
                            {{ action }}
                        </div>
                    </div>

                    <div class="row" *ngFor="let actable of actables">
                        <div class="cell">
                            {{ actable }}
                        </div>
                        
                        <div [class]="'cell center ' + permissionTable[actable].canDoAction(action, profile, classMap)" *ngFor="let action of actions">
                            <span>
                                {{ permissionTable[actable].canDoAction(action, profile, classMap) !== 'SKIP' ? permissionTable[actable].canDoAction(action, profile, classMap) : '' }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="class-map" [formGroup]="formGroup">
                <mat-form-field>
                    <mat-label>Network</mat-label>
                    <mat-select [value]="classMap.network" (selectionChange)="updateNetwork($event)" [formControlName]="'network'">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let network of system.networks" [value]="network">{{ network.text }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="classMap.network">
                    <mat-label>Location</mat-label>
                    <mat-select [value]="classMap.location" (selectionChange)="updateLocation($event)" [formControlName]="'location'">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let location of classMap.network.locations" [value]="location">{{ location.text }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="classMap.network && classMap.location">
                    <mat-label>Group</mat-label>
                    <mat-select [value]="classMap.group" (selectionChange)="updateGroup($event)" [formControlName]="'group'">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let group of classMap.location.groups" [value]="group">{{ group }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="classMap.network && classMap.location">
                    <mat-label>Rounder</mat-label>
                    <mat-select [value]="classMap.rounder" (selectionChange)="updateRounder($event)" [formControlName]="'rounder'">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let rounder of profileTexts" [value]="rounder">{{ rounder }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="classMap.network && classMap.location">
                    <mat-label>Alertee</mat-label>
                    <mat-select [value]="classMap.alertee" (selectionChange)="updateAlertee($event)" [formControlName]="'alertee'">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let alertee of profileTexts" [value]="alertee">{{ alertee }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
