/* You can add global styles to this file, and also import other style files */

// // Theme needed for @angular/material.io
// @import "theme.scss";
// @include mat-core();
// @include angular-material-theme($my-theme);

// @import "./_variables.scss";

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #fafafa;
}
